*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



body{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
/*font-family: 'Ubuntu', sans-serif;*/
	font-size: 16px;

	color: #111;
	/*-webkit-font-smoothing:antialiased;*/	

}


/*conteiner
==========================*/
.container{
	max-width: 1180px;
	margin: 0 auto;
}

/*
screen-sm : 576px;
screen-md : 768px;
screen-lg : 992px; 
screen-xl : 1200px; 

screen-sm-max : 767px
screen-md-max : 991px
screen-lg-max : 1999px

*/


/*header
==========================*/
.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}
.header:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(25,59,70, 0.7);

}

.header_body{
	position: relative;
	z-index: 2;
	display: flex;
	height: 64px;
	align-items: center;
	justify-content: space-between;
}
.logname{
	display:flex;
	align-items: center;

}
.header_logo{
	height: 56px;
	width: 56px;
	text-decoration: none;
	color: #fff;
}

.logo_name{
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	margin: 0;
	margin-left: 15px;

}


/*nav
==========================*/

.nav{
	display: flex;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 15px;
}

.nav_link{
	margin-left: 40px;
	color: #fff;
	text-decoration: none;
	opacity:.7;

	transition: opacity, transform .1s linear;
}

.nav_link:hover{
	opacity:1;
	transform: scale(1.05);
}

.menu_burger{
	display: none;
}

@media (max-width: 991px){
	.nav{
		font-size: 13px;
	}
	.nav_link{
		margin-left: 20px;
	}
}

@media (max-width: 767px ){
	body.lock{
		overflow: hidden;
	}
	.header_body{
		height: 50px;
		background-color: rgb(25,59,70);
	}
	.menu_burger{
		display: block;
		position: relative;
		z-index: 3;
		width: 30px;
		height: 21px;
		margin-right: 20px;
	}
	.menu_burger span{
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 3px;
		left: 0;
		top: 9px;
		transition: all 0.5s ease 0s;
	}
	.menu_burger:before{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		top: 0;
		transition: all 0.5s ease 0s;
	}
	.menu_burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		bottom: 0;
		transition: all 0.5s ease 0s;
	}

	.menu_burger.active span{
		transform: scale(0);
	}
	.menu_burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.menu_burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.nav{
		position: fixed;
		top: -150%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(25,59,70);
		padding-top: 70px;
		margin-top: 20px;
		overflow: auto;
		font-size: 20px;
		flex-direction: column;
		align-items: center;
		transition: all 0.5s ease 0s;
	}
	.nav.active{
		top: 0;
	}
	.nav_link{
		margin: 0;
		margin-bottom: 30px;
	}
	.header_logo{
		z-index: 3;
		margin-left: 5px;
		height: 46px;
		width: 46px;
	}
	.logo_name{
		align-items: center;

	}
}

/*intro
==========================*/
.intro{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding-top: 80px;
	background: #313030 url(img/hero1.jpg) center no-repeat;
	background-size: cover;
}

.intro_inner{
	max-width: 970px;

}

.intro_h1{
	font-family:'Ubuntu', sans-serif;
	margin: 0;
	font-size: 55px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.intro_p{
	font-size: 25px;
	color:#fff;
}

.btn{
	margin-top: 25px;
	display: inline-block;
	border: 0;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	padding: 10px 30px;
	border-radius: 10px;
	background-color:  #FF8169;
	border: none;
	vertical-align: top;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	position: relative;
	top: 0;
	transition: border-radius, background-color, top, transform .3s cubic-bezier(0.36,-0.16, 0.84, 1.24);
}
.btn:hover{
	background-color: #FF6B4D;
	transform: scale(1.03);
	border-radius: 15px;
}
.btn:active{
	top: 2px;
}

@media (max-width: 991px){
.intro_inner{
	margin-left: 35px;
	}
	.intro_h1{
	font-size: 45px;
	margin-bottom: 20px;
	}
	.intro_p{
		font-size: 20px;	
	}
}

@media (max-width: 767px){
.intro_inner{
	margin-left: 0;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	}
	.intro_h1{
	font-size: 35px;
	margin-bottom: 10px;
	}
	.intro_p{
		font-size: 16px;
	}
}
/*work
==========================*/
.work{
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #111;
}

.work_inner{
	padding: 0 25px;
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	
}

.text_p{
	font-size: 24px;
	font-weight: 400;
	margin-top: 0;
	
}

.text_h{
	font-size: 50px;
	font-weight: 700;
	margin: 20px 0;
	line-height: 1.1em;
}

.text_p2{
	font-size: 20px;
}

@media (max-width: 991px){
	.text_p{
		font-size: 22px;
	}
	.text_h{
		font-size: 45px;
	}
	.text_p2{
		font-size: 18px;
	}
}

/*mebel- container
==========================*/
.mebel{
	display: flex;
	margin-bottom: 60px;
}

.mebel_text{
	background-color: rgb(236,244,243);
	width: 50%;
	justify-content: flex-end;

}

.mebel_img{
	width: 50%;
	height: 620px;
	background: url(img/мебель-на-з.jpg) center / cover no-repeat;
	justify-content: flex-end;
}

.mebel_a_podrobnee{
	display: inline-block;
	color: #2A3B61;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 10px;
	transition:color, transform .1s linear;

}
.mebel_a_podrobnee:hover{
	color: #061840;
	transform:scale(1.1,1.1);
}

.divan{
	display: flex;
}
.krovat{
	display: flex;
}
.kreslo{
	display: flex;
}
.puf{
	display: flex;
}
.paneli{
	display: flex;
}

@media (max-width: 1999px){
	.mebel_text{
		padding: 80px 40px;
	}
}

@media (max-width: 991px){
	.mebel_text{
		padding: 60px 30px;
	}
}

@media (max-width: 767px ){
	.divan{
		flex-direction:column;
	}
	.krovat{
		flex-direction:column;
	}
	.kreslo{
		flex-direction:column;
	}
	.puf{
		flex-direction:column;
	}
	.paneli{
		flex-direction:column;
	}
	.mebel_img{
		width: 100%;
		order: -1;
		height: 470px;
	}
	.mebel_text{
		width: 100%;
		padding: 30px 25px;
	}
	.text_p{
		font-size: 20px;
	}
	.text_h{
		font-size: 40px;
	}
	.text_p2{
		font-size: 16px;
	}
}

/*srez
==========================*/

.srez_hed{

	justify-content: center;
	text-align: center;
	margin: 40px;
	margin-top: 70px;
}

.srez{
	display: flex;
}

.srez_img{
	display: flex;
	width: 50%;
	margin-right: 40px;

}
.srez_text{
	border-left: 2px solid #C3E4DF;
	padding: 20px 50px;
	width: 50%;
	justify-content: center;
	text-align: center;

}
p{
	margin-bottom: 20px;
}

@media (max-width: 767px ){
	.srez{
		flex-direction: column;
	}
	.srez_img{
		width: 100%;
	}
	.srez_text{
		width: 100%;
	}
}


/*galery
==========================*/
.galery_hed{
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 70px;
}
.galery{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}
.galery_a{
	width: 49%;
	height: 500px;
	margin-bottom: 2%;
	text-decoration: none;	
	background: url(img/мебель-на-з.jpg) center / cover no-repeat;
}

.galery_cont{
	height: 100%;
	text-transform: uppercase;
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	background-color: rgba(25,59,70, 0.5);
	opacity: 0;
	transition: opacity 0.2s linear;
}
.galery_cont:hover{
	opacity: 1;
}
@media (max-width: 767px ){
	.galery{
		flex-direction: column;
	}
	.galery_a{
		width: 100%;
	}
}

/*gallery_img(gallery)
==========================*/
.gallery_content{
	margin: 0 0 100px 0;

}
.card_image a{
	text-decoration: none;
}

.card_image img{
	width: 23%;
	height: 180px;
	object-fit: cover;
	margin: 0.5%;
}
.card_image img:hover{
	z-index: 5;
	opacity: 1;
	background-color: rgba(25,59,70, 0.5);
}

@media (max-width: 991px){
	.card_image img{
		width: 32%;
	}
}
@media (max-width: 767px ){
	.card_image img{
		width: 48%;
	}
}

/*time-dev
==========================*/
.time_dev{
	background-color: #F6FBF7;
	height: 100%;
	display: block;
	justify-content: center;
	text-align: center;
	margin-bottom: 70px;	
}
.time_text{
	padding: 70px 0;
	width: 70%;
	max-width: 970px;
	margin: 0 auto;
}

/*forma
==========================*/
.forma *{
	outline: none;
}

.forma_box{
	display: flex;
	margin-bottom: 60px;
}
.forma_text{
	width: 49%;
	padding: 0 20px;
}
.forma_form{
	flex-direction: column;
	width: 49%;
	margin-left: 50px;
	border-left: 2px solid #C3E4DF;
	padding: 0 20px;
}
.form_body{
	display: flex;
	flex-direction: column;
	position: relative;
}
.form_body::after{
	content: '';
	position: absolute;
	width: 105%;
	height: 105%;
	top: -10px;
	left: -10px;
	background: rgba(50, 50, 50, 0.5) url("img/Spinner-0.7s-311px.gif") center / 100px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
.form_body._sending::after{
	opacity: 1;
	visibility: visible;
}

.form_label{
	font-size: 20px;
}
.form_input{
	margin-bottom: 15px;
	height: 35px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #75BBB1;
	border-radius: 5px;
}
.form_input._error{
	box-shadow: 0 0 15px red;
}

.checkbox{

}
.checkbox._error .checkbox_label::before{
	box-shadow: 0 0 15px red;
}
.checkbox_input{
	display: none;
}
.checkbox_input:checked + .checkbox_label::after{
	transform: scale(1);
}
.checkbox_label{
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.checkbox_label::before{
	content: "";
	align-self: flex-start;
	flex:0 0 24px;
	height: 24px;
	background-color: #DACDFF;
	border-radius: 4px;
	margin: 10px 10px 0 0;
}
.checkbox_label::after{
	transition: transform 0.2s ease 0s;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 14px;
	left: 4px;
	background-color: #836DFF;
	border-radius: 3px;
	transform: scale(0);
}
.checkbox_label a{
	color: #836DFF;
}
.checkbox._error{

}


.form_comm{
	height: 60px;
	padding: 10px;
	font-size: 20px;
	color: #000;
	border: 1px solid #75BBB1;
	border-radius: 5px;
	resize: vertical;
}


.form_input:focus{
	box-shadow: 0 0 15px #3B596E;
}
.form_comm:focus{
	box-shadow: 0 0 15px #3B596E;
}


.form_btn{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	border-radius: 15px;
	border:none;
	background-color: #FF8169;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 700;
	box-shadow: 0 2px 0 #BE5B40;
	transition: background-color 0.2s ease 0s;
	transition: top 0.1s ease-out 0s;
	position: relative;
	top: 0;
}
.form_btn:hover{
	background-color: #FF6B4D;
	top: -2px;
}
.form_btn:active{
	top: 3px;
	box-shadow: 0 1px 0 #BE5B40;
}

@media (max-width: 767px){
	.forma_box{
		flex-direction: column;
	}
	.forma_text{
		width: 100%;
	}
	.forma_form{
		width: 100%;
		margin:30px 0;
		margin-left: 0;
		border-left: none;
	}
}

.cont_body{
	margin: 90px 0;
	display: flex;
}

.cont_body div{
	width: 49%;
	margin-right: 20px;
	padding-left: 15px;
	border-left: 2px solid #C3E4DF;
}

.cont_maps{
	margin-bottom: 70px;
}
@media (max-width: 767px){
	.cont_body div{
		border:none;		
	}
	.cont_body{
		margin: 70px 0;
	}
}


/*footer
==========================*/
.footer{
	background-color: #193B46;
	height: 500px;
}

